#navbarhome{
  background-color: rgba(255, 255, 255, 0.6);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}

.navbar{
    background-color: white;
}

body{
    position: relative;
}

#jumbotron .col-12{
    background-image:url('img/fotosfondo.jpg');
    max-width: 100%;
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#jumbotron h1 {
    color: white;
    font-size: 4rem;
    text-align:center;
    margin-top: 100px;
}

#jumbotron h2 {
    color: white;
    font-size: 2rem;
    text-align: center;
}

#cards {
    margin: 30px 30px 30px 30px;
    max-width: 100%;
}

.card {
    font-size: 2rem;
    color: black;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
}

.card img{
    height: 15rem;
}

.card h1{
    font-size: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.card p{
    font-size: 24px;
}

#mappa{
    height: 400px;
    background-image:url('img/mappa.jpg') ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn-visit {
    display: inline-block;
    padding: 15px 30px;
    font-size: 16px;
    color: white;
    background-color: #4CAF50; /* Verde chiaro */
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-visit:hover {
    background-color: #45a049; /* Verde scuro al passaggio del mouse */
}

.footer {
    display: flex;
    justify-content: space-between; /* Posizionamento sinistra-destra */
    align-items: flex-start; /* Allinea verticalmente */
    background-color: #000; /* Sfondo nero */
    color: #fff; /* Testo bianco */
    padding: 20px; /* Spaziatura interna */
    box-sizing: border-box; /* Include padding nel calcolo delle dimensioni */
  }
  
  /* Sezione sinistra */
  .footer-left {
    text-align: left;
  }
  
  .social-links {
    list-style: none; /* Rimuove i puntini */
    padding: 0;
    margin: 0;
  }
  
  .social-links li {
    margin-bottom: 5px;
  }
  
  .social-links li a {
    text-decoration: none; /* Nessuna sottolineatura */
    color: #fff;
    transition: color 0.3s ease;
  }
  
  .social-links li a:hover {
    color: #00aaff; /* Colore al passaggio del mouse */
  }
  
  /* Sezione destra */
  .footer-right {
    text-align: right;
  }
  
  .footer-right p {
    margin: 5px 0;
  }
  
